h6 {
  margin: 0 !important;
  color: white !important;
  font-weight: bolder;
}
@keyframes fill {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
.success {
  position: absolute;
  background-color: rgba(76, 180, 140, 0.75);
  top: 0;
  left: 50%;
  width: auto;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -50rem;
  border: solid 3px rgba(127, 124, 124, 0.22);
  -webkit-animation: notif 5s;
  animation: notif 5s forwards;
  z-index: 9000;
}

.error {
  position: absolute;
  background-color: rgba(237, 67, 55, 0.75);
  top: 0;
  left: 50%;
  width: auto;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: -50rem;
  border: solid 3px rgba(127, 124, 124, 0.22);
  -webkit-animation: notif 5s;
  animation: notif 5s forwards;
  z-index: 9000;
}

.slider {
  left: 0px;
  bottom: 0px;
  z-index: 10000;
  position: absolute;
  width: 100%;
  height: 6px;
  background: rgba(255, 255, 255, 0.7);
  -webkit-animation: slider 5s;
  animation: slider 4s forwards ease-in-out;
}

@keyframes slider {
  0% {
    width: 100%;
    visibility: visible;
  }

  100% {
    width: 0px;
    visibility: hidden;
  }
}

@keyframes notif {
  0% {
    margin-top: -50rem;
    opacity: 0;
  }
  15% {
    margin-top: 1.125rem;
    opacity: 1;
  }
  50% {
    margin-top: 1.125rem;
    opacity: 1;
  }
  75% {
    margin-top: 1.125rem;
    opacity: 1;
  }
  80% {
    margin-top: 1.125rem;
    opacity: 0;
    visibility: hidden;
  }
  100% {
    margin-top: 1.125rem;
    opacity: 0;
    visibility: hidden;
  }
}
