$edit-bg: rgba(0, 0, 0, 0.2) !important;
$border-color: rgba(127, 124, 124, 0.22);
$text-muted: rgba(166, 164, 164, 1) !important;
$text-primary: #00ffaa !important;
$text-muted-green: rgba(74, 176, 139, 0.2);
$transition: ease 200ms !important;

section {
  color: white;
}
